name: update-visualizer
on: [push]
jobs:
  my_job:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Update diagram
        id: make_diagram
        uses: githubocto/repo-visualizer@0.7.1
        with:
          output_file: "output-diagram.svg"
          artifact_name: "my-diagram"
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
      - name: Repo Visualizer
        uses: githubocto/repo-visualizer@0.9.1
      
