name: Create diagram
on:
  workflow_dispatch: {}
  push:
    branches:
      - main
jobs:
  get_data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Update diagram
        uses: actions/download-artifact@v4
        with:
          name: "${{ steps.make_diagram.outputs.svg }}"
          path: "./downloads"
